* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  margin: 0;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

/* Osnovni stilovi */
header {
  background: #252525;
  color: white;
  min-height: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

/* Header stilovi */
header a {
  color: white;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
}

header li {
  float: left;
  display: block;
  font-size: 17px;
}

header nav {
  float:right;
  margin-top: 15px;
}

.container {
  width: 940px;
  margin: auto;
  overflow: hidden;
}

.sve {
  width: 940px;
  margin: 0 auto;
}


#zadnji-list {
  padding-right: 20px;
}

#naslov {
    float: left;
    padding: 10px 0 10px 10px;
}

#naslov h2 {
  margin: 0;
}

#nazad {
  float: left;
  padding: 13px 15px 0 15px;
}

#search {
  float: right;
  padding-right: 10px;
  padding-top: 15px;
}

/* Izbornik na vrhu */
.sekcija {
  font-weight: bold;
  min-height: 50px;
  overflow: hidden;
  background-color: #4D4382;
  margin: 0;
}

.sekcija button {
  float: left;
  transition: 0.3s;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  background-color: #4D4382;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.sekcija button:hover {
    background-color: #7468b1;
}

.tab button.active {
    background-color: blue;
}

/* Boje ispod kategorija */
.sekcija #newsBorder {
  background-color: #3677b5;
  border-bottom-style: solid;
  border-bottom-color: #3677b5;
}

.sekcija #businessBorder {
  border-bottom-style: solid;
  border-bottom-color: red;
}

.sekcija #sportBorder {
  border-bottom-style: solid;
  border-bottom-color: #84c14f;
}

.sekcija #lifeBorder {
  border-bottom-style: solid;
  border-bottom-color: blue;
}

.sekcija #techBorder {
  border-bottom-style: solid;
  border-bottom-color: yellow;
}

.sekcija #travelBorder {
  border-bottom-style: solid;
  border-bottom-color: brown;
}

/* Banner po potrebi */
.banner {
  padding: 15px 0 15px 0;
  height: 120px;
  background-color: lightblue;
  text-align:center;
}

.banner--top {
  margin: 15px 0;
}

.banner2 {
  padding: 15px 0 15px 0;
  height: 120px;
  background-color: lightblue;
  text-align:center;
  margin-bottom: 30px;
}

.banner3 {
  padding: 15px 0 15px 0;
  height: 120px;
  background-color: lightblue;
  text-align:center;
  margin-bottom: 30px;
  clear: left;
}

/* Slideshow container */
.slider {
  position: relative;
  margin: auto;
}

.mySlides {
  /* Sakrivanje slika */
  display:none;
  width: 100%;
  height: 460px;
}

/* Next & previous buttoni */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
}

/* Pozicija next buttona */
.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

/* Crna pozadina na hover */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Animacija slideshowa */
.animate-left {
  position:relative;
  animation:animateright 1.0s
}

@keyframes animateright {
  from {
    right:-300px;opacity:0
    } to {
      right:0;opacity:1
    }
  }

/* Stil naslova viejsti */
.naslov-opis {
  background: rgba(0, 0, 0, .6);
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  height: 30%;
}

.datum {
  color: #ACB3BA;
}

.naslov-opis button {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid white;
    background-color: Transparent;
    margin: 0 10px;
}

.naslov-opis img {
  margin-left: 30px;
  margin-top: 10px;
}

.opis {
  padding-left: 15px;
}

/* Stilovi za kategorije */
.kategorijaNews, .kategorijaSport, .kategorijaBusiness, .kategorijaTech {
  margin: auto;
  padding: 15px;
  background-color: #ffffff;
}

.kategorijaNews {
  border-left: 10px solid #3677b5;
  margin-bottom: 20px;
}

.kategorijaSport {
  border-left: 10px solid #84c14f;
  margin-bottom: 30px;
}

.kategorijaBusiness {
  border-left: 10px solid #ee6151;
  margin-bottom: 30px;
}

h4 {
  font-weight: normal;
}

.kategorijaTech {
  border-left: 10px solid #fcc44d;
  margin-bottom: 30px;
}

/* Cijeli lijevi sadržaj stranice */
.containerL {
  color: #363f48;
  margin-top: 30px;
  overflow: hidden;
  width: 65%;
  float: left;
}

/* Cijeli desni sadržaj stranice */
.containerD {
  margin: auto;
  overflow: hidden;
  width: 35%;
  float: right;
  padding: 15px 0 15px 15px;
}

.naslovKategorije a {
  float: right;
  color: blue;
  padding: 20px;
  padding-top: 35px;
}

/* Sadržaji i stilovi kategorija */
.sadrzajKategorije {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.sadrzajKategorije2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.vijest {
  margin-bottom: 20px;
}

.vijest--right {
  display: inline-flex;
}

.slikaVijesti {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slikaVijesti img {
  width: 100%;
}

.slikaVijesti2 {
  display: inline-block;
  float: left;
  width: 50%;
}

.slikaVijesti3 {
  display: inline-block;
  float: right;
  width: 50%;
  padding: 0 10px 10px 0;
}

.sadrzajKategorije img {
  max-width: 100%;
  max-height: 100%;
  padding: 0 15px 0 15px;
}

.sadrzajKategorije2 img {
  max-width: 100%;
  max-height: 100%;
  padding: 0 15px 0 15px;
}

.naslovKategorije h1 {
  padding-left: 15px;
  font-weight: bold;
  display: inline-block;
}

.title {
  padding: 5px 15px 0 15px;
}

.title h4 {
  margin:0;
}

.title--big h4 {
  font-size: x-large;
  margin-bottom: 10px;
}

.vijest h3 {
  margin: 0;
  padding: 10px 15px 0 15px;
  font-weight: bold;
}

.infoVijest2 h3 {
  margin-top: 10px;
  padding: 0;
}

/* Stilovi za datum i komentare */
.vijest span {
  color: #747474;
}

.infoVijest {
  padding: 5px 15px 0 15px;
}

.infoVijest2 {
  float: right;
  width: 50%;
}

.infoVijest3 {
  float: left;
  width: 60%;
  padding-top: 10px;
}

.newsPic {
  display: inline-block;
   height: 100%;
   vertical-align: middle;
}

.infoVijest3 span {
  padding: 0 15px 0 15px;
}

#komentari {
  float: right;
}

#oblacic {
  float: right;
  padding: 3px 3px 0 0;
}

/* Desni izbornik stranice */
.ukratkoVijesti {
  background-color: #4d4382;
  color: white;
  overflow: hidden;
}

.ukratkoVijesti img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sortiranjeVijesti {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px 0 10px 0;
  font-size: 18px;
  background-color: #3e3668;
  margin: auto;
}

.sortiranjeVijesti a {
  color: white;
}

.sortiranjeVijesti li {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#popVijest .vijest {
  border-top: 1px solid black;
}

.facebook {
  display: inline-flex;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.facebook h2, .facebook h3 {
  font-size: normal;
  font-weight: normal;
}

.fejsIkona{
  display: inline-block;
  float: left;
  width: 20%;
}

.fejsIkona img {
  width: 100%;
  height: 100%;
}

.imeSocial {
  display: inline-block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-left: 10px;
  background-color: darkgrey;
}

.fans {
  background-color: #4d4382;
  float: right;
  color: white;
  width:40%;
  padding: 0 20px 0 10px;
  font-size: small;
  text-align: left;
  position: relative;
}

.fans h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

/*stilovi za footer*/
footer {
  background-color: #252525;
  color: white;
}

.line {
  background-color: #4D4382;
  padding: 15px;
}

.sve--footer {
  padding-top: 30px;
  padding-left: 15px;
}

.footerSum {
  padding: 10px;
}

.kenaz {
  display: inline-flex;
}

.kenaz h1 {
  color: #45B0E3;
  margin: 0;
  padding: 15px 0 0 10px;
}

.kenaz a {
  padding: 10px 0 0 0;
}

.paragraph {
  color: #666666;
}

.socials img {
  padding: 0;
}

.newsletter {
  padding-left: 15px;
}

.newsletter h2 {
  padding-top: 12px;
}

input[type=submit] {
  background-color: #4D4382;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
}

input[type=text] {
  padding: 10px;
}

.newsletter form {
  width: 100%;
  display: inline-flex;
}

.tags a {
  background-color: darkgrey;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  font-size: small;
  margin: 2px;
  line-height: 2.5;
}

.tags a:hover {
  background-color: #4D4382;
}

hr {
  border: 1px solid #666666;
}

.copyright {
  padding-left: 15px;
}
